*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
body{
	font: 12px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
	text-transform: inherit;
	color: #333;
	background: #e7edee;
	width: 100%;
}
.wrap{
	width: 320px;
	margin: 15px auto;
	padding: 15px 10px;
	background: white;
	border: 2px solid #DBDBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}
.item{
	margin: 10px 0;
	padding: 5px 10px;
	background: #f9f9f9;
	border-radius: 5px;
}
a{ text-decoration: none; color: #333}
h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2.8em;
	text-align: center;
	margin: 15px 0;
}
h2{font-size: 1.5em; margin: 8px 0}
h2 span.name{font-size: 1em}
h2 span.num{font-size: 1.5em; font-style: italic}
.item p{text-transform: lowercase}

/*Loader style*/
.ias_loader, .ias_trigger {
	text-align:center;
	margin: 30px 0 40px;
}
.ias_trigger a:link,
.ias_trigger a:visited {
    padding: 4px 50px;

    background-color: #f9f9f9;
    border: solid 1px #ddd;
    border-radius: 2px;

    font: bold 12px Arial, sans-serif;
    color: #555;
    text-decoration: none;
}
.ias_trigger a:hover,
.ias_trigger a:active {
    border-color: #ccc;
}